[environment]
service_user = s-dev
platform = nixos
update_method = rsync
repository_root = ..

[provisioner:default]
method = fc-nixos-dev-vm
host = largo00.fcdev.fcio.net
hydra-eval = 907231
memory = 12288
cores = 4
disk_size = 30G

[host:inference]
# Enable this if multiple developers share the same deployment checkout name.
# provision-dynamic-hostname = True
components =
    skvaidersettings
    skvaiderinference

[host:gateway]
# Enable this if multiple developers share the same deployment checkout name.
# provision-dynamic-hostname = True
provision-aliases =
    skvaider
components =
    skvaidergateway
    skvaidersettings

[component:skvaidergateway]
token = developer
inference_url = http://10.12.0.4:8000
